appdirs==1.4.3
braviarc==0.3.7
decorator==4.1.2
enum-compat==0.0.2
future==0.16.0
google-api-python-client==1.6.3
google-speech==1.0.16
httplib2==0.10.3
ipython==6.1.0
ipython-genutils==0.2.0
jedi==0.10.2
oauth2client==4.1.2
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.5.2
py-sony-bravia-remote==1.1
pyasn1==0.3.4
pyasn1-modules==0.1.4
PyAudio==0.2.11
pygame==1.9.3
Pygments==2.2.0
requests==2.12.4
rsa==3.4.2
simplegeneric==0.8.1
six==1.10.0
SpeechRecognition==3.7.1
traitlets==4.3.2
uritemplate==3.0.0
wcwidth==0.1.7
web-cache==1.0.2
yeelight==0.3.2
